@{
    ViewData["Title"] = "Apartment - Home Page";
}
@model SAASystem.Models.View.UserViewModel.Index;

<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Apartments</h2>
    <div class="row g-4 row-cols-1 row-cols-lg-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">User Id</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Last Login</th>
                </tr>
            </thead>
            <tbody>
                @foreach (UserModel userModel in Model.UserModelEnumerable)
                {
                <tr>
                    <th scope="row">@userModel.UserId</th>
                    <td>@userModel.Username</td>
                    <td>@userModel.Email</td>
                    <td>@userModel.LastLogin</td>
                    <td>
                        <a asp-action="Delete" asp-controller="User" asp-route-Key="@userModel.Key">Delete</a>
                        <a asp-action="Edit" asp-controller="User" asp-route-Key="@userModel.Key">Edit</a>
                        <a asp-action="Show" asp-controller="User" asp-route-Key="@userModel.Key">Show</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
