@using System.Reflection;
@using SAASystem.Models.Context;
@model SAASystem.Models.View.User.ListViewModel
@{
    ViewData["Title"] = Model.Title;
}
<link href="https://getbootstrap.com/docs/5.2/examples/features/features.css" rel="stylesheet">
<div class="px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom"><a asp-controller="User" asp-action="Index" class="text-decoration-none">User</a> / @Model.Title</h2>

    <div class="g-4 py-5">
        <table class="table">
            <thead>
                <tr>
                    @{
                        foreach (PropertyInfo propertyInfo in Model.UserContextModelEnumerable.First().GetType().GetProperties())
                        {
                            <th scope="col">@propertyInfo.Name</th>
                        }
                        <th scope="col">Config</th>
                    }
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (UserContextModel userContextModel in Model.UserContextModelEnumerable)
                    {
                        <tr>
                            @foreach (PropertyInfo propertyInfo in userContextModel.GetType().GetProperties())
                            {
                                <td>@propertyInfo.GetValue(userContextModel, null)</td>
                            }
                        <td>
                            <a asp-controller="@Model.Controller"
                               asp-action="Show"
                               asp-route-UserId="@userContextModel.UserId"
                               class="text-decoration-none p-1">Show</a>
                            <a asp-controller="@Model.Controller"
                               asp-action="Edit"
                               asp-route-UserId="@userContextModel.UserId"
                               class="text-decoration-none p-1">Edit</a>
                            <a asp-controller="@Model.Controller"
                               asp-action="Delete"
                               asp-route-UserId="@userContextModel.UserId"
                               class="text-decoration-none p-1">Delete</a>
                        </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
