@{
ViewData["Title"] = "User - Insert Page";
}
@model SAASystem.Models.View.UserViewModel.Insert;

<div class="container py-2" id="icon-grid">
    <div class="row g-4 row-cols-1 row-cols-lg-12 pb-2">
        <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-bottom">
            <div class="col-md-4 d-flex align-items-center">
                <h2 class="pb-2">Insert User</h2>
            </div>
        </div>
    </div>
    <form asp-controller="User" asp-action="Insert" method="post">
        <div class="row g-3">
            <div asp-validation-summary="All"></div>
            <div class="col-4">
                <label asp-for="Username" class="form-label"></label>
                <div class="input-group has-validation">
                    <input asp-for="Username" type="text" class="form-control" value="@Model.Username">
                    <span asp-validation-for="Username" class="invalid-feedback"></span>
                </div>
            </div>
            <div class="col-4">
                <label asp-for="Email" class="form-label"></label>
                <div class="input-group has-validation">
                    <input asp-for="Email" type="text" class="form-control" value="@Model.Email">
                    <span asp-validation-for="Email" class="invalid-feedback"></span>
                </div>
            </div>
            <div class="col-4">
                <label asp-for="PhoneNo" class="form-label"></label>
                <div class="input-group has-validation">
                    <input asp-for="PhoneNo" type="text" class="form-control" value="@Model.PhoneNo">
                    <span asp-validation-for="PhoneNo" class="invalid-feedback"></span>
                </div>
            </div>
            <div class="col-4">
                <label asp-for="Surname" class="form-label"></label>
                <div class="input-group has-validation">
                    <input asp-for="Surname" type="text" class="form-control" value="@Model.Surname">
                    <span asp-validation-for="Surname" class="invalid-feedback"></span>
                </div>
            </div>
            <div class="col-4">
                <label asp-for="GivenName" class="form-label"></label>
                <div class="input-group has-validation">
                    <input asp-for="GivenName" type="text" class="form-control" value="@Model.GivenName">
                    <span asp-validation-for="GivenName" class="invalid-feedback"></span>
                </div>
            </div>
            <div class="col-4">
                <label asp-for="Address" class="form-label"></label>
                <div class="input-group has-validation">
                    <input asp-for="Address" type="text" class="form-control" value="@Model.Address">
                    <span asp-validation-for="Address" class="invalid-feedback"></span>
                </div>
            </div>
            <div class="row g-3 mt-3">
                <div class="col-3">
                    <a asp-action="Index" asp-controller="User" class="w-100 btn btn-secondary btn-sm">Close</a>
                </div>
                <div class="col-3">
                    <button class="w-100 btn btn-primary btn-sm" type="submit">Insert</button>
                </div>
            </div>
        </div>
    </form>
</div>
